@charset "UTF-8";

/*-----------------------------------------------------------------------------------



  ____                  _ _ _      _____ _             _ _
 |  _ \                | (_) |    / ____| |           | (_)
 | |_) | __ _ _ __   __| |_| |_  | (___ | |_ _   _  __| |_  ___  ___
 |  _ < / _` | '_ \ / _` | | __|  \___ \| __| | | |/ _` | |/ _ \/ __|
 | |_) | (_| | | | | (_| | | |_   ____) | |_| |_| | (_| | | (_) \__ \
 |____/ \__,_|_| |_|\__,_|_|\__| |_____/ \__|\__,_|\__,_|_|\___/|___/

 version 1.0


-----------------------------------------------------------------------------------*/
/*

// Contents
// ------------------------------------------------>

 1.  Global Styles
 2.  Buttons
 3.  Navigation Bar
 4.  Footer
 5.	 Featurette
 6.	 Carousel
 7.	 Trailer
 8.	 Contributors
 

/*------------------------------------*\
    1. GLOBAL STYLES
\*------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #222222;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  font-family: sans-serif;
  font-weight: 400;
  margin: 0 0 20px;
  line-height: 1;
}

.h2, h2 {
    font-size: 52px;
}

.h3,
h3 {
  font-size: 42px;
}

.h4,
h4 {
  font-size: 38px;
}

.h5,
h5 {
  font-size: 32px;
}

.h6,
h6 {
  font-size: 24px;
}

p {
  color: #222222;
  font-size: 13px;
  font-weight: 200;
  line-height: 22px;
}

hr {
    border: 0;
    height: 1px;
    background: #222222;
    margin-bottom: 20px;
}

.text-dark {
  color: #222222;
}

.text-light{
  color: #ffffff;
}

.important-paragraph {
    font-size: 22px;
    line-height: 30px;  
}

.dark-background {
  background-color: #222222;
}

.light-background {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}
.ar-background{
  /* background-color: #a97af7;  */
  background-color: #874aed;
  /* background-color: #571f9c; */
  height: 100vh;
  width: 100vw;
  margin-top: 0px;
}

.ar-opacity {
  background-color: rgb(134, 74, 237);
  background-color: rgba(134, 74, 237,.6);
  width: 80%;
  height: 77.5vh;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 5;
  border-radius: 30px;
}

.ar-opacity a {
  color: #ffffff;
}

.muted-background {
    background-color: #747373;
}

.text-light {
  color: #ffffff;
}

.text-muted {
    color: #A5A5A5;
}

/* Aligning Text */
.text--left {
    text-align: left !important;
  }
  
  .text--right {
    text-align: right !important;
  }
  
  .text--center {
    text-align: center !important;
  }
  
  .text--just {
    text-align: justify !important;
  }
  
  .align--top {
    vertical-align: top;
  }
  
  .align--bottom {
    vertical-align: bottom;
  }
  
  .align--middle {
    vertical-align: middle;
  }
  
  .align--baseline {
    vertical-align: baseline;
  }
  
  /* Weight Text */
  .bold {
    font-weight: bold;
  }
  
  .regular {
    font-weight: 100;
  }
  
  .italic {
    font-style: italic;
  }
  
  .break-word {
    word-wrap: break-word;
  }
  
  .no-wrap {
    white-space: nowrap;
  }

  /* Margins */

  .mt-md-6 {
      margin-top: 100px;
  }

  .fade-first {
    display: none;
  }

  .fade-second {
    display: none;
  }

  .fade-third {
    display: none;
  }

  .fade-special {
    display: none;
  }

  .bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
  }

  .wrapper {
    position: relative;
  }

  .above-image {
      position: relative;
      z-index: 2;
  }

/*------------------------------------*\
    2. BUTTONS
\*------------------------------------*/
  
.icon{
  background:none;
}

.icon:hover{
  background:#222222;
  border-radius: 20%;

}

.btn-primary {
  background-color: #222222;
  color: #ffffff;
  border: 1px solid #222222;
  font-size: 20px;
  padding: 4px 20px;
  
  border-radius: 8px;
}

.flag-primary-transluscent{
  background-color: rgb(34, 34, 34,1);
  color: #ffffff;
  /* border: 1px solid #222222; */
  font-size: 20px;
  padding: 4px 20px;
  
  border-radius: 8px;
}

.btn {
    transition-duration: 0.4s;
}

/* Size can also be negative; see how it's smaller than the element */
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.btn:hover {
    background-color: #ffffff;
    color: #222222;
    border: 1px solid #222222;
}




  

/*------------------------------------*\
    3. NAVIGATION BAR
\*------------------------------------*/

.nav-link {
    color: #222222;
    font-weight: bold;
    font-size: 20px;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-item {
    margin-right: 20px;
}

.navbar-nav > li {
    float: left;
    position: relative;
}

.navbar-toggler-icon {
    color: #222222;
    font-size: 40px;
}

/*------------------------------------*\
    4. FOOTER
\*------------------------------------*/

.footer-custom {
    background-color: #222222;
    color: #ffffff;
    margin-bottom: 0;
}

.footer-break {
    border: 0;
    height: 1px;
    background: #ffffff;
    margin-bottom: 7px;
    margin-top: 7px;
}

.footer-copyright {
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 13px;
}

.social-row a {
    color: #ffffff;
    font-size: 18px;
}

.social-row {
    margin-bottom: 0px;
}

.footer-info {
    margin-bottom: 0px;
    font-size: 13px;
}

.menu-row a {
    color: #ffffff;
    margin-right: 10px;
}

.menu-row {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 15px;
    padding-top: 8px;
}

.footer-image {
    margin-top: 3px;
    margin-bottom: 3px;
}

/*------------------------------------*\
    5. FEATURETTE
\*------------------------------------*/

.featurette-heading {
    color: #ffffff;
}

.featurette-paragraph {
    color: #ffffff;
    font-size: 22px;
    line-height: 30px; 
}

.featurette-divider {
    border: 0;
    height: 1px;
    background: #ffffff;
    
}

/*------------------------------------*\
    6. CAROUSEL
\*------------------------------------*/

/* Carousel base class */
.carousel {
    margin-bottom: 0rem;
}

/* Caption background */
.caption-background {
    background-color: #ffffff;
    opacity: 0.5;
    z-index: 11;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 1rem;
    z-index: 12;   
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 100vh;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
}

/*------------------------------------*\
    7. Trailer
\*------------------------------------*/

.trailer {
    margin: 0 auto;
    display: block;
}

/*------------------------------------*\
    8. CONTRIBUTORS
\*------------------------------------*/

.contributor {
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 0px;
    color: #222222;
}

.teams > li {
    position: relative;
}

.teams .active a::after {
    border-bottom: 2px solid #222222;
    bottom: -1px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}

.team-link {
    color: #7F1911;
}

.team-link:hover {
    color: #9E463F;
}
